<div class = 'row'>
    <div class = 'col-md-6 col-md-offset-3'>
        <h1> Sign Up </h1>
        <!-- user error messages here -->
        <%= render 'users/error' %>
        <%= form_for(@user, :url => signup_url) do |f| %>
            <%= f.label :first_name %>
            <%= f.text_field :first_name, class: 'form-control' %>

            <%= f.label :last_name %>
            <%= f.text_field :last_name, class: 'form-control' %>

            <%= f.label :email %>
            <%= f.email_field :email, class: 'form-control' %>

            <%= f.label :password %>
            <%= f.password_field :password, class: 'form-control' %>

            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation, class: 'form-control' %>
            <br>
            <%= f.submit "Sign Up", class: 'btn btn-primary' %>
        <% end %>
    </div>
</div>
