<!DOCTYPE html>
<html>
  <head>
    <title>EasyPassword</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <div class = 'container main'>
      <!-- Render Flash messages here-->
      <% flash.each do |type, msg| %>
        <%= content_tag(:div, msg, class: "alert alert-#{type}")%>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
